.rotate {
  width: 50px !important;
  height: 50px !important;
  animation: rotation 2s infinite linear;
}

.info {
  text-align: start;
}

.preco {
  padding: 0.5rem;
  background-color: #91fb5d;
  color: #017e01;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 4px;
  max-width: 65px;
}

.descricao {
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
